astropy
h5py
matplotlib
numpy

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

--find-links https://data.pyg.org/whl/torch-1.13.0+cpu.html
pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

pylint
pylint-django
pylint-plugin-utils
pytest
pytest-cov
scikit-learn
scipy
tqdm
typing_extensions
wandb

#import local package Grand
-e .